html, body {
  height: 100%;
}

.center.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

html {
  animation: omgwtfbbq 5s infinite linear;
}

#rob {
  animation: spinningrob 2s infinite linear;
  border-radius: 50%;
  border: 3px solid black;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
}

@keyframes spinningrob {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes omgwtfbbq {
  0% {
    background: #F44336;  // Red
  }
  6.25% {
    background: #E91E63;  // Pink
  }
  12.5% {
    background: #9C27B0;  // Purple
  }
  18.75% {
    background: #673AB7;  // Deep Purple
  }
  25% {
    background: #3F51B5;  // Indigo
  }
  31.25% {
    background: #2196F3;  // Blue
  }
  37.5% {
    background: #03A9F4;  // Light Blue
  }
  43.75% {
    background: #00BCD4;  // Cyan
  }
  50% {
    background: #009688;  // Teal
  }
  56.25% {
    background: #4CAF50;  // Green
  }
  62.5% {
    background: #8BC34A;  // Light Green
  }
  68.75% {
    background: #CDDC39;  // Lime
  }
  75% {
    background: #FFEB3B;  // Yellow
  }
  81.25% {
    background: #FFC107;  // Amber
  }
  87.5% {
    background: #FF9800;  // Orange
  }
  93.75% {
    background: #FF5722;  // Deep Orange
  }
  100% {
    background: #F44336;  // Red
  }
}
